@model IEnumerable<TravelTracker.Domain.AirTravelQuery>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QueryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TentativeTripStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TentativeTripEndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QueryStatus)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelAgent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QueryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TentativeTripStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TentativeTripEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelAgent.TravelAgentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
